<?xml version="1.0"?>
<!-- Ince sim ust-xacro: ortak govde + sim ros2_control (gz_ros2_control). -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mecanum_robot">

  <xacro:include filename="$(find mecanum_robot_description)/urdf/mecanum_robot.xacro"/>
  <xacro:include filename="$(find mecanum_control)/urdf/ros2_control_sim.xacro"/>

  <xacro:mecanum_ros2_control_sim/>

</robot>
